* {
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
.container{
    padding: 10px;
    width: 98%;
    height: 95vh;
    display: flex;
    gap: 10px;
}
.left{
    padding-top: 10px;
    width: 22%;
    height: 100%;
}
#shop-list{
    list-style: none;
    height: 100%;
    overflow-y: scroll;
}
#shop-list > li{
    display: flex;
    justify-content: space-between;
    padding: 10px 3px;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
#shop-list > li:hover{
    background: linear-gradient(to top, #ffffff 0%,#EFEFEF 100%);
}
.sreach-input{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.right{
    padding-top: 10px;
    width: 78%;
}
#chart,#date-sale-chart{
    width: 100%;
    height: 100%;
}
.card{
    margin-bottom: 10px;
    width: 100%;
    aspect-ratio: 16 / 3;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
}
.detail-data{
    font-weight: 600;
    display: flex;
    padding: 15px;
    gap:20px
}
.first-title{
    margin-left: 15px;
    color: rgb(16, 110, 190);
    position: relative;
}
.first-title::before{
    content: '';
    position: absolute;
    left: -10px;
    width: 6px;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(16, 110, 190);
}